{
    "env": {
        "development": {
            "plugins": [
                ["react-transform", {
                    "transforms": [{
                        "transform": "react-transform-jspm-hmr",
                        "imports": ["react"],
                        "locals": ["module"]
                    }, {
                        "transform": "react-transform-catch-errors",
                        "imports": ["react", "redbox-react"]
                    }]
                }]
            ]
        },
        "production": {
            "sourceMaps": false,
            "plugins": [
                "babel-plugin-transform-react-constant-elements",
                "babel-plugin-transform-react-remove-prop-types",
                "babel-plugin-transform-react-pure-class-to-function"
            ]
        },
        "test": {
            "sourceMaps": "inline"
        }
    },
    "plugins": [
        "add-module-exports",
        "closure-elimination",
        "transform-decorators-legacy",
        "transform-inline-environment-variables",
        "transform-runtime"
    ],
    "presets": [
        "es2015",
        "react",
        "stage-0"
    ],
    "sourceMaps": "inline"
}
