{
    "extends": "eslint-config-nfl",
    "env": {
        "browser": true,
        "mocha": true
    },
    "globals": {
        "$": true,
        "$$": true,
        "browser": true,
        "by": true,
        "element": true,
        "protractor": true
    },
    "settings": {
        "import/ignore": [
            "node_modules",
            ".(scss|less|css)$",
            ".[^js(x)?]+$"
        ],
        "import/resolve": {
            "moduleDirectory": [
                "node_modules"
            ]
        },
        "import/resolver": {
            "node": {
                "extensions": [],
                "moduleDirectory": "node_modules"
            },
            "babel-module": {
                "root": ["./src"]
            }
        }
    }
}
