{
    "extends": "eslint-config-nfl",
    "env": {
        "browser": true,
        "mocha": true
    },
    "globals": {
        "$": true,
        "$$": true,
        "browser": true,
        "by": true,
        "element": true,
        "expect": true,
        "protractor": true
    },
    "settings": {
        "import/ignore": [
            "node_modules",
            ".(scss|less|css)$",
            ".[^js(x)?]+$"
        ],
        "import/resolve": {
            "moduleDirectory": [
                "node_modules"
            ]
        }
    }
}
