{
    "env": {
        "production": {
            "sourceMaps": false
        },
        "test": {
            "sourceMaps": "inline",
        }
    },
    "plugins": [
        "add-module-exports",
        "transform-decorators-legacy",
        "transform-inline-environment-variables"
    ],
    "presets": [
        "es2015",
        "react",
        "stage-0"
    ],
    "sourceMaps": "inline"
}
