{
    "extends": "eslint-config-nfl",
    "env": {
        "node": true,
        "mocha": true,
        "jest": true
    },
    "rules": {
        "prefer-arrow-callback": [2, {
            "allowNamedFunctions": true
        }]
    },
    "globals": {
        "$": true,
        "$$": true,
        "browser": true,
        "by": true,
        "element": true,
        "protractor": true,
        "beforeAll": true,
        "jasmine": true
    },
    "settings": {
        "import/ignore": [
            "node_modules",
            ".(scss|less|css)$",
            ".[^js(x)?]+$"
        ]
    }
}
