{
    "extends": "eslint-config-nfl",
    "settings": {
        "import/resolver": {
            "jspm": {
                "moduleDirectory": "jspm_packages"
            },
            "node": true
        }
    }
}
