{
    "extends": ["eslint-config-nfl", "prettier"],
    "env": {
        "node": true,
        "mocha": true
    },
    "plugins": [
        "prettier"
    ],
    "rules": {
        "prefer-arrow-callback": [2, {
            "allowNamedFunctions": true
        }],
        "prettier/prettier": "error"
    },
    "globals": {
        "$": true,
        "$$": true,
        "browser": true,
        "by": true,
        "element": true,
        "protractor": true
    },
    "settings": {
        "import/ignore": [
            "node_modules",
            ".(scss|less|css)$",
            ".[^js(x)?]+$"
        ]
    }
}
